# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/
.output/

# Misc
.DS_Store
*.pem

# Local env files
.env*.local
.env

# Local PDF files
*.pdf
raw_materials/
downloaded_books/
__pycache__/
.streamlit/
